a {
 color: #000000;
 text-decoration: none;
}

a:hover {
 color: #000000;
 text-decoration: none;
}

a:visited {
 color: #000000;
 text-decoration: none;
}

div {
 font-family: Futura, Impact, Helvetica, Arial, sans-serif;
}

div.task {
 background: #ffffff;
 border: 1px solid #ffffff;
 clear: both;
 display: block;
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5px;
 padding: 2px;
 position: relative;
}

div.task:hover {
 background-color: #c5e6ff;
 border: 1px solid #000000;
}

div.task table {
 display: none;
}

div.task td {
 color: #7f7f7f;
 font-size: 22px;
}

div.finished span, div.finished td {
 color: #cbcbcb;
}

div.in_progress {
 border: 1px solid #000000;
}

div.form_field {
 display: table-cell;
 margin: 10px;
 padding: 5px;
}

div#index {
}
 
div#form_container {
 display: table;
 width: 100%;
}

div#new_task_form {
 display: table-row;
}

div#form_name {
 width: 100%;
}

div#form_estimate {
}

div#form_submit {
}

div#wrapper {
 border: 1px solid;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 position: relative;
}

hr {
 clear: both;
 display: block;
 background-color: #000000;
 color: #000000;
 border: none;
 height: 1px;
}

img.clock {
 float: right;
 height: 30px;
 width: 30px;
 vertical-align: top;
}

img.delete {
 height: 16px;
 width: 16px;
 padding-right: 5px;
 vertical-align: middle;
}

input {
 border: 1px solid #000000;
 display: block;
 height: 26px;
 margin: 1px;
 font-family: Futura, Impact, Helvetica, Arial, sans-serif;
 font-size: 22px;
}

input#name_field {
 width: 100%;
}

input#estimate_field {
 width: 375px;
}

#submit {
 height: 30px;
 width: 100px;
 padding: 0px;
}

span.duration {
 color: #7f7f7f;
 font-size: 24px;
 font-weight: bold;
}

span.name {
 color: #000000;
 font-size: 30px;
 font-weight: bold;
}
