<!doctype html>
{% autoescape true %}
<head>
 <meta charset="utf-8">
 <meta name="description" content="tasklist">
 <meta name="viewport" content="width=device-width">
 
 {% if title -%}
 <title>{{ title }}</title>
 {% else -%}
 <title>task-chrono</title>
 {% endif %}
 
 <link rel="stylesheet" href="css/main.css">
 <link rel="stylesheet" media="screen and (min-width: 801px)" href="css/desktop.css">
 <link rel="stylesheet" media="handheld, (max-width: 800px)" href="css/mobile.css">
 
 <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
 <div id="wrapper"> 
  <div id="menu">
   <div class="menu_item {% if page == 'list' -%}menu_item_active{%- else -%}menu_item_inactive{%- endif -%}">
    <a href="/?list_name={{ list_name }}">List</a>
   </div>
   <div class="menu_item {% if page == 'stats' -%}menu_item_active{%- else -%}menu_item_inactive{%- endif -%}">
    <a href="/stats">Stats</a>
   </div>
   <div class="menu_item">
    <a href="#">Settings</a>
   </div>
   <div class="menu_item {% if page == 'help' -%}menu_item_active{%- else -%}menu_item_inactive{%- endif -%}">
    <a href="/help">Help</a>
   </div>
   <div class="menu_item">
    <a href="{{ logout_url|safe }}">Log out</a>
   </div>
  </div>
  
  <hr> 
{% block content %}
{% endblock %}
 </div>
</body>
{% endautoescape %}
</html>