{% extends "base.html" %}

{% block content %}
  <form action="new?list_name={{ list_name }}" method="post">
   <div id="form_container">
    <div id="new_task_form">
     <div id="form_name" class="form_field">
      <input id="name_field" type="text" name="task_name">
     </div>
     <div id="form_estimate" class="form_field">
      <input id="estimate_field" type="text" name="estimate">
     </div>
     <div id="form_submit" class="form_field">
      <input id="submit" type="submit" value="Create">
     </div>
    </div>
   </div>
  </form> 
 
  <hr>
  
  <div id="index">
 {% for task in tasks %}
  {% if task.state == 0 %}
   <div class="task in_progress">
    <a href="/stop?task_key={{ task.key.urlsafe() }}">
  {% elif task.state == 1 %}
   <div class="task">
    <a href="/start?task_key={{ task.key.urlsafe() }}">
  {% elif task.state == 2 %}
   <div class="task finished">
    <a href="/start?task_key={{ task.key.urlsafe() }}">
  {% endif -%}
     <div>
      <span class="name">{{ task.name }}</span>
     </div>
    </a>
    <div id="{{ task.key.urlsafe() }}" onclick="toggleDetails(this)">
     <span class="duration">{{ task.duration|duration(task.state, task.restarted) }}</span><span class="estimate">(estimate: {{ task.estimate|estimate }})</span>
     <div>
      <table id="{{ task.key.urlsafe() }}_details">
       <tr><td>Created:</td><td>{{ task.created|datetime }}</td></tr>
       <tr><td>Started:</td><td>{{ task.started|datetime }}</td></tr>
       <tr><td>Last restart:</td><td>{{ task.restarted|datetime }}</td></tr>
       <tr><td>Finished:</td><td>{{ task.finished|datetime }}</td></tr>
       <tr><td colspan="2"><a href="/delete?task_key={{ task.key.urlsafe() }}"><img class="delete" alt="delete" src="img/delete.png">delete task</a></td></tr>
      </table>
     </div>
    </div>
   </div>
 {% endfor %}
  </div>
  
  <script type="text/javascript" src="js/tasklist.js" onload="listSetup()"></script>
{% endblock %}
